[submodule "dapple_packages/dappsys"]
	path = dapple_packages/dappsys
	url = https://github.com/nexusdev/dappsys
[submodule "dapple_packages/maker-user"]
	path = dapple_packages/maker-user
	url = https://github.com/makerdao/maker-user
