<body>
  <h1>
    <img alt=Maker src=https://makerdao.com/splash/images/logo.svg>
    <span>#otc</span>
  </h1>

  <p>
    This is a simple on-chain OTC market for {{baseCurrency}}. Either pick an order below (in which case delivery will happen instantly), or <a href="#neworder">submit a new order</a>.
  </p>

  <p>
    Network: {{network}}
    {{#unless isConnected}}
      (not connected)
    {{else}}
      {{#if syncing}}
        (syncing {{syncingPercentage}}%)
      {{else}}
        {{#if loading}}
          (loading offers {{loadingProgress}}%)
        {{else}}
          {{#if ready}}
            (ready)
          {{/if}}
        {{/if}}
      {{/if}}
    {{/unless}}
  </p>

  {{#if ready}}
    {{#unless equals network 'private'}}
      <p>Contract: <a href={{contractHref}}>Etherscan.io</a></p>
    {{/unless}}
    <p>Account: {{address}}</p>
    <p>Balance: {{formatBalance ETHBalance}} ETH | {{formatBalance MKRBalance}} MKR | {{formatBalance DAIBalance}} DAI</p>
    <p><a href="#allowance">Allowance</a>: {{formatBalance ETHAllowance}} ETH | {{formatBalance MKRAllowance}} MKR | {{formatBalance DAIAllowance}} DAI</p>

    {{#if contractExists}}
      {{> orderbook}}
      {{> neworder}}
    {{else}}
      <p>
        Could not find the contract on your current blockchain environment.
      </p>
    {{/if}}
  {{/if}}
</body>
