<template name="lasttrades">
  <span class="text-muted">Hover a trade to see its timestamp.</span>
  <table>
    <tbody>
      {{#each trade in lastTrades}}
        <tr title={{timestampToString trade.timestamp true}}>
          <td>{{#if equals trade.args.buy_which_token baseCurrency}}Sold{{else}}Bought{{/if}}</td>
          <td></td>
          <td>{{formatBalance trade.args.buy_how_much}} {{trade.args.buy_which_token}}</td>
          <td>for</td>
          <td>{{formatBalance trade.args.sell_how_much}} {{trade.args.sell_which_token}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
