<template name="makereth">
  <form id="makereth">
    <h2>Maker ETH Wrapper</h2>
    <div>
      <table>
        <tbody>
          <tr>
            <th>
              ETH
            </th>
            <td>
              {{formatBalance ETHBalance}}
            </td>
          </tr>
          <tr>
            <th>
              Maker ETH
            </th>
            <td>
              {{#let token=(findToken 'ETH')}}
                {{formatBalance token.balance}}
              {{/let}}
            </td>
          </tr>
          <tr>
            <th>
              Type
            </th>
            <td>
              <div class="radios">
                <label><input type="radio" value="deposit" {{b "group: type"}}>Deposit</label>
                <label><input type="radio" value="withdraw" {{b "group: type"}}>Withdraw</label>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              Amount
            </th>
            <td>
              <input type="number" class="input" step="any" min="0" {{b "value: amount, attr: { max: maxAmount }"}}>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>
            </th>
            <td>
              <button {{b "text: type, enable: canDeposit, click: deposit"}}></button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </form>
</template>
