<template name="offermodal">
  <div class="modal fade" id="offerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Offer</h4>
        </div>
        <div class="modal-body">
          {{#if offer}}
            <table>
              <tbody>
                <tr>
                  <th>Type</th>
                  <th>{{offer.type}}</th>
                </tr>
                <tr>
                  <th>Owner</th>
                  <td>{{offer.owner}}</td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>{{formatBalance offer.price}} {{offer.currency}}</td>
                </tr>
                <tr>
                  <th>Volume</th>
                  <td><input type="number" class="input" step="any" min="0" max={{maxVolume}} {{b "value: volume, input: calcTotal"}}> MKR</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td><input type="number" class="input" step="any" min="0" max={{maxTotal}} {{b "value: total, input: calcVolume"}}> {{offer.currency}}</td>
                </tr>
                {{#if offer.helper}}
                  <tr>
                    <td colspan="2">{{offer.helper}}</td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
            <hr>
            <span class="text-danger">
              <b>Warning!</b>
              {{#if equals offer.type 'bid'}}
                This action will remove {{formatBalance (toWei volume)}} MKR from your token balance and allowance, and {{formatBalance (toWei total)}} {{offer.currency}} will be added to your token balance.
              {{else}}
                This action will remove {{formatBalance (toWei total)}} {{offer.currency}} from your token balance and allowance, and {{formatBalance (toWei volume)}} MKR will be added to your token balance.
              {{/if}}
              <br>
              If someone fills this offer before you do, your order may only be partially filled or even denied, in which case unused funds will be refunded to your balance and allowance.
            </span>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{#if offer}}
            {{#if offer.canCancel}}
              <button type="button" class="btn btn-danger" data-dismiss="modal" {{b "click: cancel"}}>Cancel</button>
            {{/if}}
            <button type="button" class="btn btn-primary" data-dismiss="modal" {{b "enable: canBuy, click: buy"}}>
              {{#if equals offer.type 'bid'}}Sell{{else}}Buy{{/if}} MKR
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
